nav {
  background: rgb(195, 227, 243);
  margin-top: .75rem;
  text-align: center;
}
a:link {
  text-decoration: none;
}
.App {
  text-align: center;
  background-color: rgba(236, 248, 255, 0.77);
  border-left: .75rem solid rgb(83, 226, 174);
  border-right: .75rem solid rgb(83, 226, 174);
  border-bottom: .75rem solid rgb(83, 226, 174);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: Optima, Verdana, Arial, Helvetica, sans-serif;
}
h1.Bloc-Title{
  font-family: cursive;
  font-size: 4em;
  margin-bottom: auto;
  margin-top: auto;

}

#nav-landing {
  font-family: Optima, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: .5rem;
  color: rgb(51, 109, 88);
}

#nav-library {
  font-family:Optima, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: .5rem;
  color: rgb(51, 109, 88);
}
